body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(205, 225, 245);
}
h2{
    color: #2e42f8;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group button {
    padding: 10px 15px;
    background-color: #f33646;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}